.container {

    margin-left: 100px;
    margin-right: 100px;
}

.navbar {
    z-index: 2;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 395px;
    background-color: white;
}

.navbar-item {
    text-align: center;
    margin-left: 450px;
    margin-top: -40px;
    font-size: 20px;
}

.navbar-item a {
    margin-right: 40px;
    text-decoration: none;
    color: #00824a;
}

.navbar-item a:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 4px 8px 0(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a:hover {
    background-color: #7ed957;
    color: white;
    text-decoration: none;
    margin: 0px;
}

.login {
    text-align: right;
    margin-top: -24px;
    font-size: 20px;
    margin-right: -400px;
}

.login a {
    text-decoration: none;
}

.baris::after {
    content: "";
    display: table;
    clear: both;
}

.kolom-profesional {
    float: center;
}

.kolom-profesional.gambar.kiri {
    width: 30%;
    float: left;
}

.kolom-profesional.konten.kanan {
    float: right;
    width: 68%;
    letter-spacing: 1.5px;
    color: #03989e;
}

.kolom-profesional.konten.kiri {
    float: left;
    color: #00824a;
    text-align: justify;
    letter-spacing: 1.5px;
    width: 68%;
}

.kolom-profesional.gambar.kanan {
    width: 30%;
    float: right;
}

.bahan{
    width: 33%;
    float: left;
}

.sertifikat{
    width: 30%;
    float: left;
}

.konten-sertifikat{
    width: 69%;
    float: right;
}